[v-cloak] {
    display: none !important;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px transparent;
    border-radius: 1px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 1px transparent;
    background: #c6c6c6ff;
}

.el-scrollbar .el-scrollbar__bar.is-horizontal {
    height: 0;
}

.el-scrollbar .el-scrollbar__bar.is-vertical {
    width: 0;
}

.el-scrollbar .el-scrollbar__bar.is-horizontal .el-scrollbar__thumb {
    opacity: 1;
    height: 0;
    border-radius: 1px;
    background-color: #c6c6c6ff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.el-scrollbar .el-scrollbar__bar.is-vertical .el-scrollbar__thumb {
    opacity: 1;
    width: 1px;
    border-radius: 2px;
    background-color: #c6c6c6ff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

body, #app {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: #F2F2F2;
    overflow: hidden;
}

.login_body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-image: url("../image/login_bg_v1.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_body > div:nth-child(2) {
    flex: 0 0 25%;
}

.login_body > div{
    flex: 1;
}

.login_area {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3vh 1vw 3vh 1vw;
}

.login_form{
    width: 60%;
}

.login_form .el-form-item__label{
    color: #000;
}

.login_btn .el-form-item__content{
    margin-left: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_title {
    font-size: 5vh;
    font-weight: bold;
    font-family: monospace;
    color: #000;
    padding: 1vh 0 5vh 0;
}

.login_btn .el-form-item__content .el-button {
    width: 99%;
}

@media(min-width:320px) and (max-width:480px){
    .login_body > div:nth-child(2) {
        flex: 0 0 90%;
    }

    .login_form{
        width: 80%;
    }
}