<!DOCTYPE html>
<html lang="en">
<head>
    <title>登录 | 统一认证门户</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="images/x-icon" href="assets/image/favicon.ico"/>
    <script src="common/js/base.js"></script>
</head>
<body>
<div id="app">
    <div class="video_container">
        <video class="video" autoplay loop muted playsinline playbackRate="0.5">
            <source src="assets/video/bg_video.webm" type="video/webm"/>
            浏览器不支持 WEBM 格式文件，建议更换浏览器。
            <source src="assets/video/bg_video.mp4" type="video/mp4"/>
            浏览器不支持 MP4 格式文件，建议更换浏览器。
        </video>
    </div>
    <div class="login_body">
        <div></div>
        <div class="login_area">
            <div class="login_title">
                <span>统</span>
                <span>一</span>
                <span>门</span>
                <span>户</span>
            </div>
            <el-form class="login_form"
                     ref="formRef"
                     :model="loginForm"
                     size="small"
                     status-icon
                     :rules="rules"
                     scroll-to-error
                     label-suffix=":"
                     label-width="80"
                     label-position="right">
                <el-form-item label="用户名" prop="username">
                    <el-input v-model="loginForm.username" placeholder="填写用户名...">
                        <template #prefix>
                            <el-icon class="tsaifont icon-username"/>
                        </template>
                    </el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input type="password" v-model="loginForm.password" show-password placeholder="填写密码...">
                        <template #prefix>
                            <el-icon class="tsaifont icon-password"/>
                        </template>
                    </el-input>
                </el-form-item>
                <el-form-item label="验证码" prop="captcha">
                    <div class="captcha_cls">
                        <el-input v-model="loginForm.captcha" placeholder="填写验证码...">
                            <template #prefix>
                                <el-icon class="tsaifont icon-captcha"/>
                            </template>
                        </el-input>
                        <div class="img">
                            <img v-show="showCaptcha" :src="'/sso/lineCaptcha?username='+username_copy+'&timestamp='+timestamp"/>
                            <el-button v-show="!showCaptcha" type="info" @click="getCaptcha">点击获取</el-button>
                        </div>
                    </div>
                </el-form-item>
                <el-form-item>
                    <div class="span">
                        <span v-if="captchaTipMessage">{{captchaTipMessage}}</span>
                        <span v-else>&nbsp;</span>
                    </div>
                </el-form-item>
                <el-form-item class="login_btn">
                    <el-button type="primary" @click.prevent="login">登录</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div></div>
    </div>
    <div class="index-footer">
        <div>Copyright 2025 蔡熙贝 版权所有.</div>
        <div><span class="tsaifont icon-web-record"></span>京公网安备: 000000000000000000号 | 京ICP备000000000号-0 </div>
    </div>
</div>
</body>
<link type="text/css" rel="stylesheet" href="assets/css/index_v1.css">
<script type="text/javascript" src="assets/js/index_v1.js"></script>
</html>