<!DOCTYPE html>
<html lang="en">

<head>
    <title>登录 | 统一认证门户</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="images/x-icon" href="/public/img/favicon.ico" />
    <!--基础框架-->
    <link rel="stylesheet" href="/framework/css/element-plus.css" />
    <link rel="stylesheet" href="/framework/iconfont/iconfont.css" />
    <link rel="stylesheet" href="/framework/css/pace-theme.css" />
    <link rel="stylesheet" href="/framework/css/theme_primary.css" />
    <script src="/framework/iconfont/iconfont.js"></script>
    <script src="/framework/js/vue3.js"></script>
    <script src="/framework/js/element-plus.js"></script>
    <script src="/framework/js/zh-cn.js"></script>
    <script src="/framework/js/vue-router.js"></script>
    <script src="/framework/js/pace.js"></script>
    <script src="/framework/js/anime.min.js"></script>
    <script src="/framework/js/axios.js"></script>
    <script src="/framework/js/request.js"></script>
</head>

<body>
    <div id="app">
        <div class="login_area">
            <div class="login_title">
                <span>统</span>
                <span>一</span>
                <span>门</span>
                <span>户</span>
            </div>
            <el-form class="login_form" ref="formRef" :model="loginForm" size="small" status-icon :rules="rules"
                scroll-to-error label-suffix=":" label-width="80" label-position="right">
                <el-form-item label="用户名" prop="username">
                    <el-input v-model="loginForm.username" placeholder="填写用户名...">
                        <template #prefix>
                            <el-icon class="tsaifont icon-username" />
                        </template>
                    </el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input type="password" v-model="loginForm.password" show-password placeholder="填写密码...">
                        <template #prefix>
                            <el-icon class="tsaifont icon-password" />
                        </template>
                    </el-input>
                </el-form-item>
                <el-form-item label="验证码" prop="captcha">
                    <div class="captcha_cls">
                        <el-input v-model="loginForm.captcha" placeholder="填写验证码..." maxlength="5">
                            <template #prefix>
                                <el-icon class="tsaifont icon-captcha" />
                            </template>
                        </el-input>
                        <div class="img">
                            <img v-show="showCaptcha"
                                :src="'/captcha/line?username='+username_copy+'&timestamp='+timestamp"
                                @click="getCaptcha" />
                            <el-button v-show="!showCaptcha" type="info" @click="getCaptcha">点击获取</el-button>
                        </div>
                    </div>
                </el-form-item>
                <el-form-item>
                    <div class="span">
                        <span v-if="captchaTipMessage">{{captchaTipMessage}}</span>
                        <span v-else>&nbsp;</span>
                    </div>
                </el-form-item>
                <el-form-item class="login_btn">
                    <el-button size="default" type="primary" @click.prevent="login">登录</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div class="index-footer">
            <div>
                <span>Copyright © 2025 蔡熙贝 版权所有.</span>
            </div>
            <div>
                <span class="tsaifont icon-web-record"></span>
                <span>苏公网安备: 000000000000000000号 | 苏ICP备000000000号</span>
            </div>
        </div>
    </div>
</body>
<!-- 引入组件 -->
<link rel="stylesheet" href="/view/login/css/login.css" />
<script src="/view/login/js/login.js"></script>
</html>