[mysqld]
# 是否启用大小写敏感 0=敏感, 1=不敏感（表名小写存储）, 2=不敏感（表名大小写存储但比较时不区分）
lower_case_table_names=1

# 服务器的字符集
character-set-server=utf8mb4

# 服务器的字符排序规则
collation-server=utf8mb4_general_ci

# 服务器的端口，默认是3306
port=33016

# 数据目录，存放数据库数据文件的目录
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# 服务器的标识符
server_id=1

# 允许的最大连接数
max_connections=100

# 每个连接允许的最大字节数
max_allowed_packet=16M


#  innodb 存储引擎的日志文件大小
innodb_log_file_size=128M

#  innodb 存储引擎的日志缓冲区大小
innodb_buffer_pool_size=1G

# 是否启用慢查询日志
slow_query_log=ON

# 慢查询日志的文件路径
slow_query_log_file=/var/log/mysql/slow_queries.log

# 是否启用通用日志
# general_log=ON
# 是否启用日志缓冲区
# general_log_file=/var/log/mysql/general.log
# 是否启用 innodb 存储引擎
# innodb=ON
# 是否启用 innodb 数据文件的双写缓冲区
# innodb_doublewrite=ON
# 是否启用 innodb 的事务日志
# innodb_use_transaction_tablespaces=ON
# 是否启用 innodb 的自适应哈希索引
# innodb_adaptive_hash_index=ON
# 是否启用 innodb 的自适应索引树
# innodb_adaptive_index_hash_size=16M
# 是否启用 innodb 的在线DDL操作
# innodb_online_ddl_operation=ON
# 是否启用 innodb 的数据压缩
# innodb_compression_level=6
# 是否启用 innodb 的数据加密
# innodb_encryption=ON
# 是否启用 innodb 的数据校验
# innodb_checksums=ON
# 是否启用 innodb 的数据页校验
# innodb_page_checksums=ON
# 是否启用 innodb 的数据页校验
# innodb_strict_mode=ON
# 是否启用 innodb 的数据页校验
# innodb_flush_method=O_DIRECT
# 是否启用 innodb 的数据页校验
# innodb_log_buffer_size=16M
# 是否启用 innodb 的数据页校验
# innodb_write_io_threads=4
# 是否启用 innodb 的数据页校验
# innodb_read_io_threads=4
# 是否启用 innodb 的数据页校验
# innodb_io_capacity=200
# 是否启用 innodb 的数据页校验
# innodb_io_capacity_max=400
# 是否启用 innodb 的数据页校验
# innodb_purge_threads=1
# 是否启用 innodb 的数据页校验
# innodb_support_xa=ON
# 是否启用 innodb 的数据页校验
# innodb_lock_wait_timeout=50
# 是否启用 innodb 的数据页校验
# innodb_rollback_on_timeout=OFF
# 是否启用 innodb 的数据页校验
# innodb_data_file_path=ibdata1:12M:autoextend
# 是否启用 innodb 的数据页校验
# innodb_max_dirty_pages_pct=75
# 是否启用 innodb 的数据页校验
# innodb_old_blocks_time=1000
# 是否启用查询日志
# query_log=ON
# 线程池的大小，用于处理连接
# thread_pool_size=8