<!DOCTYPE html>
<html lang="en">

<head>
    <title>演示案例</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="images/x-icon" href="assets/image/favicon.ico" />
    <!--基础框架-->
    <link rel="stylesheet" href="../../framework/css/element-plus.css" />
    <link rel="stylesheet" href="../../framework/iconfont/iconfont.css" />
    <link rel="stylesheet" href="../../framework/css/pace-theme.css" />
    <script src="../../framework/iconfont/iconfont.js"></script>
    <script src="../../framework/js/vue3.js"></script>
    <script src="../../framework/js/element-plus.js"></script>
    <script src="../../framework/js/zh-cn.js"></script>
    <script src="../../framework/js/vue-router.js"></script>
    <script src="../../framework/js/pace.js"></script>
    <script src="../../framework/js/axios.js"></script>
    <script src="../../framework/js/request.js"></script>
    <script src="../../framework/directives/vNumber.js"></script>
    <script src="../../framework/directives/vInteger.js"></script>
    <!-- 引入组件 -->
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/index.js"></script>
</head>

<body>
    <div id="app">
    </div>
</body>
</html>