[v-cloak] {
    display: none !important;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px transparent;
    border-radius: 1px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 1px transparent;
    background: #c6c6c6ff;
}

.el-scrollbar .el-scrollbar__bar.is-horizontal {
    height: 0;
}

.el-scrollbar .el-scrollbar__bar.is-vertical {
    width: 0;
}

.el-scrollbar .el-scrollbar__bar.is-horizontal .el-scrollbar__thumb {
    opacity: 1;
    height: 0;
    border-radius: 1px;
    background-color: #c6c6c6ff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.el-scrollbar .el-scrollbar__bar.is-vertical .el-scrollbar__thumb {
    opacity: 1;
    width: 1px;
    border-radius: 2px;
    background-color: #c6c6c6ff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

body, #app {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: #F2F2F2;
    overflow: hidden;
}