[v-cloak] {
    display: none !important;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px transparent;
    border-radius: 1px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 1px transparent;
    background: #c6c6c6ff;
}

.el-scrollbar .el-scrollbar__bar.is-horizontal {
    height: 0;
}

.el-scrollbar .el-scrollbar__bar.is-vertical {
    width: 0;
}

.el-scrollbar .el-scrollbar__bar.is-horizontal .el-scrollbar__thumb {
    opacity: 1;
    height: 0;
    border-radius: 1px;
    background-color: #c6c6c6ff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.el-scrollbar .el-scrollbar__bar.is-vertical .el-scrollbar__thumb {
    opacity: 1;
    width: 1px;
    border-radius: 2px;
    background-color: #c6c6c6ff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

body, #app {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-image: url("../image/login_bg_v3.png");
    background-size: cover;
}

.login_body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_body > div:nth-child(2) {
    flex: 0 0 18%;
}

.login_body > div {
    flex: 1;
}

.login_area {
    background-color: rgba(48, 59, 62, .7);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3vh 1vw 3vh 1vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.14);
    animation: ease;
    transition: 1s;
    overflow: hidden;
}

.login_form {
    width: 80%;
}

.login_form .el-form-item--small {
    margin-bottom: 30px;
}

.login_form .el-form-item:nth-child(3) .el-input {
    width: 60%;
    flex: 0 0 60%;
}

.login_area * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login_form .el-form-item__label {
    color: #fff;
}

/*错误提示信息右靠齐*/
.login_form .el-form-item__error {
    /*right: 0;*/
    /*left: unset;*/
}

.login_btn .el-form-item__content {
    margin-left: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_title {
    font-size: 3vh;
    font-weight: 500;
    font-family: fantasy;
    color: #fff;
    padding: 1vh 0 3vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.login_btn .el-form-item__content .el-button {
    width: 99%;
}

.captcha_cls {
    display: flex;
    gap: 3px;
    overflow: hidden;
    width: 100%;
}

.captcha_cls .img {
    height: 25px;
    flex: 1 1 35%;
    border-radius: 2px;
}

.captcha_cls .img img {
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

.captcha_cls .img:hover {
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
    .login_body > div:nth-child(2) {
        flex: 0 0 70%;
    }

    .login_form {
        width: 90%;
    }

    .login_title {
        font-size: 3vh;
        padding: 1vh 0 3vh 0;
    }
}

.index-footer {
    width: 100vw;
    background-color: rgba(48, 59, 62, .3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.14);
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255);
    font-size: 10px;
    gap: 4px;
    padding: 3px 0;
    height: 5%;
    margin: 0;
}

.index-footer div {
    color: rgb(217 217 217);
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    height: 30px;
    line-height: 15px;
}